.w-login-form {
  background-color: #FFFFFF;
  margin-top: 3rem;
  padding: 1rem;
  border: 0.5px solid #DCDCDC;
}

.w-login-form-h1 {
  text-align: center;
  padding: 1rem 0;
}

.w-login-form-input {
  width: 100%;
  margin: 1rem 0;
}

.w-login-form-button {
  width: 100%;
  background-color: #2C3E50;
}
