.w-user-registration-h1 {
    text-align: center;
    padding: 1rem 0;
  }

.w-users-form {
  padding: 0 1rem;
}

.w-users-form-input {
  width: 100%;
  margin: 1rem 0;
}

.w-users-form-button {
  width: 100%;
}

.w-users-form-button:hover {
    width: 100%;
    background-color: #2C3E50;
  }
