.w-receivers-form {
  padding: 0 1rem;
}

.w-receivers-form-input {
  width: 100%;
  margin: 1rem 0;
}

.w-receivers-form-button {
  width: 100%;
}

.w-receivers-form-button:hover {
  background-color: #2C3E50;
}
