.w-storages-add-form {
  background-color: #FFFFFF;
  margin-top: 3rem;
  border: 0.5px solid #DCDCDC;
}

.w-storages-add-form-h1 {
  text-align: center;
  padding: 1rem 0;
}

.w-storages-go-back-link {
  color: #2C3E50;
  margin-left: 1rem;
  font-size: 0.9rem;
}
