.w-senders-form {
  padding: 0 1rem;
}

.w-senders-form-input {
  width: 100%;
  margin-bottom: 1rem;
}

.w-senders-form-input-label {
  color: #6C757D;
  font-weight: bold;
}

.w-senders-form-button {
  width: 100%;
}

.w-senders-form-button:hover {
  background-color: #2C3E50;
}
