.w-list-table {
  background-color: #FFFFFF;
}

.w-table table td {
  border-bottom: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
}

.w-table table td:nth-child(6) div,
.w-table table td:nth-child(7) div{
  float: none;
}

.w-blank-column {
  display: none;
  height: 1rem;
}

.btn.w-table-update-button {
  margin-right: 1rem;
  background-color: #2C3E50;
}

@media (max-width: 53rem) {

  .table.b-table.b-table-stacked-md tbody tr td:first-child {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #dee2e6;
  }

  .w-table table td div {
    float: left;
  }

  .w-table td:last-child {
    background-color: #f8f9fa;
    border: none;
  }
}
