$num: 3;

.w-list-table {
  background-color: #FFFFFF;
}

.w-table table td {
  border-bottom: 1px solid #DEE2E6;
  border-right: 1px solid #DEE2E6;
  border-left: 1px solid #DEE2E6;
}

.w-table table td.w-list-button div {
  float: none;
}

.w-blank-column {
  display: none;
  height: 1rem;
}

.btn.w-table-update-button {
  margin-right: 1rem;
  background-color: #2C3E50;
}

@media (max-width: 63rem) {
  .table.b-table.b-table-stacked-md tbody tr td:first-child {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #DEE2E6;
  }

  .w-table table td div {
    float: left;
  }

  .w-table td:last-child {
    background-color: #F8F9FA;
    border: none;
  }
}
