.w-warehouses-list-page {
    margin-top: 2rem;
    text-align: center;
}

.w-warehouses-add-button {
    float: left;
    margin: 2.5rem 0 1rem;
    text-transform: uppercase;
}

@media screen and (min-width: 53rem) {
    .w-warehouses-add-button {
        margin: 2.5rem 0 1rem 2rem;
    }
}

.warehouses-list {
    margin: 0;
}

@media screen and (min-width: 53rem) {
    .warehouses-list {
        margin: 1rem 2rem;
    }
}

.warehouses-list-pagination {
    margin: 2rem 0 1rem;

}
