.w-ttn-check-form-page {
  margin-top: 1rem;
}

.w-ttn-check-form-col {
  background-color: #FFFFFF;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border: 0.5px solid #DCDCDC;
}

.w-ttn-check-form-h1 {
  padding: 1rem 0;
  text-align: center;
}

.w-ttn-check-go-back-link {
  color: #2C3E50;
  margin-left: 1rem;
  font-size: 0.9rem;
}
