.w-chart-form {
  background-color: #FFFFFF;
  margin-top: 3rem;
  padding: 1rem;
  border: 0.5px solid #DCDCDC;
}

.w-chart-form-input {
  width: 100%;
  margin-bottom: 1rem;
}

.w-chart-form-h3 {
  text-align: center;
  padding: 1rem 0;
}

.w-chart-form-input-label {
  color: #6C757D;
  font-weight: bold;
}

.w-chart-form-button {
  width: 100%;
}

.w-chart-form-button:hover {
  background-color: #2C3E50;
}
