.w-goods-list-page {
  margin-top: 2rem;
  text-align: center;
}

.w-goods-card {
  margin-top: 1rem;
}

.w-goods-card-text {
  margin-bottom: 0.5rem;
  white-space: initial;
}

.w-goods-card-text-bold {
  font-weight: bold;
}

.w-goods-form-button {
  background-color: #2C3E50;
}

.w-goods-add-form-container {
  background-color: #FFFFFF;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border: 0.5px solid #DCDCDC;
  padding: 1rem
}

.w-goods-add-form-h1 {
  text-align: center;
  padding: 1rem 0;
}

.w-goods-go-back-link {
  color: #2C3E50;
  margin-left: 1rem;
  font-size: 0.9rem;
}

.w-goods-card-container {
  background-color: #FFFFFF;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0.5px solid #DCDCDC;
  padding: 1rem
}
