.w-write-off-form {
  padding: 1rem 1rem 0 1rem;
}

.w-write-off-form-input {
  width: 100%;
  margin-bottom: 1rem;
}

.w-write-off-form-input-label {
  color: #6c757d;
  font-weight: bold;
}

.w-write-off-form-button {
  width: 100%;
}

.w-write-off-form-button:hover {
  background-color: #2C3E50;
}
