.w-ttn-check-form {
  padding: 1rem 1rem 0 1rem;
}

.w-ttn-check-form-input {
  width: 100%;
  margin-bottom: 1rem;
}

.w-ttn-check-form-input-label {
  color: #6C757D;
  font-weight: bold;
}

.w-ttn-check-form-button {
  width: 100%;
}

.w-ttn-check-form-button:hover {
  background-color: #2C3E50;
}

.w-ttn-check-form-submit-button {
  margin-top: 0.5rem;
}
