.w-companies-form {
  padding: 0 1rem;
}

.w-companies-form-input {
  width: 100%;
  margin: 1rem 0;
}

.w-companies-form-button {
  width: 100%;
}

.w-companies-form-button:hover {
  background-color: #2C3E50;
}

.w-companies-admin {
  text-align: center;
  margin-top: 5rem;
}

.w-companies-admin-form-input {
  width: 100%;
  margin: 1rem 0;
}
