.w-companies-form {
  padding: 0 1rem;
}

.w-companies-form-input {
  width: 100%;
  margin-bottom: 1rem;
}

.w-companies-form-input-label {
  color: #6C757D;
  font-weight: bold;
}

.w-companies-form-button {
  width: 100%;
}

.w-companies-form-button:hover {
  background-color: #2C3E50;
}

.w-companies-admin-h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.w-companies-admin-form-input {
  width: 100%;
  margin-bottom: 1rem;
}
