.w-users-form {
  padding: 0 1rem;
}

.w-users-form-input {
  width: 100%;
  margin-bottom: 1rem;
}

.w-user-form-input-label {
  color: #6c757d;
  font-weight: bold;
}

.w-users-form-button {
  width: 100%;
}

.w-users-form-button:hover {
  background-color: #2C3E50;
}
