.w-warehouses-form {
  padding: 0 1rem;
}

.w-warehouses-form-input {
  width: 100%;
  margin-bottom: 1rem;
}

.w-warehouse-form-input-label {
  color: #6C757D;
  font-weight: bold;
}

.w-warehouses-form-button {
  width: 100%;
}

.w-warehouses-form-button:hover {
  background-color: #2C3E50;
}
