.w-storages-list-item {
  padding: 0;
}

.w-storages-list-item-title {
  background-color: #343A40;
  color: #FFFFFF;
  font-weight: bold;
}

.w-storages-list-item-capacity {
  width: 30%;
  border-right: 1px solid #DFDFDF;
  padding: 1.5rem 1rem;
}

.w-storages-list-item-type {
  width: 70%;
  padding: 1.5rem 1rem;
}
