.w-list-button {
    margin: 0.5rem 1rem 0.5rem 0;
}

.w-users-card {
    color: #2c3e50;
    margin-bottom: 1rem;
    border: none;
    box-shadow: 0 20px 30px 3px rgba(0, 0, 0, 0.3);
}

.w-role-label {
    position: absolute;
    margin-top: 0.5rem;
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-shadow: 0 1px 2px #000;
    color: #f8f9fa;
    background: rgba(44, 62, 80, 0.6);
}
