.w-users-cards-container {
    display: flex;
    flex-direction: column;
}

.w-users-card-wrap {
    width: 100%;
    color: #2c3e50;
    margin-bottom: 1rem;
    border: none;
    box-shadow: 0 1.2rem 1.5rem 0.2rem rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 53rem) {
    .w-users-cards-container {
        flex-flow: row wrap;
        margin: 0 1rem;
        justify-content: space-between;
    }
    .w-users-card-wrap {
        width: 25rem;
    }
}

@media screen and (min-width: 43rem) and (max-width: 53rem) {
    .w-users-cards-container {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .w-users-card-wrap {
        width: 22rem;
    }
}

.w-users-card {
    height: 100%;
}

.w-users-card-img {
    height: 10rem;
    object-fit: cover;
}

.w-users-card-role-label {
    position: absolute;
    margin-top: 0.5rem;
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    text-shadow: 0 0 0.2rem #000;
    color: #f8f9fa;
    background: rgba(44, 62, 80, 0.6);
}

.w-users-card-body {
    margin-bottom: 1rem;
}

.w-users-card-text {
    font-weight: bold;
}

.w-users-card-footer {
    bottom: 0;
}

.w-users-card-button {
    margin: 0.5rem 1rem 0.5rem 0;
    font-size: 1rem;
}
