.w-companies-list-page {
    text-align: center;
}

.w-companies-add-button {
    float: left;
    margin-left: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.companies-list {
    margin: 1rem 3rem;
}

.companies-list-pagination {
    margin-right: 12rem;
    margin-top: 3rem;
}
