.w-companies-list-page {
    margin-top: 2rem;
    text-align: center;
}

.w-companies-add-button {
    float: left;
    margin: 2.5rem 0 1rem 2rem;
    text-transform: uppercase;
}

.companies-list {
     margin: 0;
 }

@media screen and (min-width: 53rem) {
    .companies-list {
        margin: 1rem 2rem;
    }
}

.companies-list-pagination {
    margin-right: 12rem;
    margin-top: 3rem;
}
