.w-navigation {
  background-color: #FFFFFF;
  border-bottom: 0.5px solid #DCDCDC;
}

.logo {
  height: 3rem;
}

.navbar-brand {
  padding: 0;
}

.w-navigation-link {
  color: #2c3e50;
  background-color: #FFFFFF;
  border: none;
  font-weight: 600;
  text-decoration: none;
}

.w-navigation-button {
  background-color: #2C3E50;
  width: 7rem;
}
