.w-users-list-page {
  margin-top: 2rem;
  text-align: center;
}

.w-users-add-button {
  float: left;
  margin: 2.5rem 0 1rem;
  text-transform: uppercase;
}

@media screen and (min-width: 53rem) {
  .w-users-add-button {
    margin: 2.5rem 0 1rem 1rem;
  }
}

.users-list-pagination {
  margin: 2rem 0 1rem;

}
