.w-users-list-page {
  text-align: center;
}

.w-users-add-button {
  float: left;
  margin: 2.5rem 0 1rem 3rem;
  text-transform: uppercase;
}

.users-list {
  margin: 1rem 3rem;
}

.users-list-pagination {
  margin-right: 12rem;
  margin-top: 3rem;
}
