.w-ttn-form {
  padding: 0 1rem;
}
  
.w-ttn-form-input {
  width: 100%;
  margin: 1rem 0;
}
  
.w-ttn-form-button {
  width: 100%;
}
  
.w-ttn-form-button:hover {
  background-color: #2C3E50;
}
  
.w-ttn-form-button-spinner {
  width: 1.5rem;
  height: 1.5rem;
}
  