.w-companies-add-form {
  margin: 2% 30% 0 30%;
}

.w-companies-add-input {
  width: 50%;
  margin: 20px auto;
}

.w-companies-add-button {
  width: 50%;
}

.w-companies-add-link {
  color: #2c3e50;
  margin-right: 17%;
  font-size: 14px;
}
