.w-storages-list-page {
  margin-top: 2rem;
  text-align: center;
}

.w-storages-list {
  margin: 0;
}

.w-storages-list-pagination {
  margin-bottom: 1rem;
}

@media screen and (min-width: 53rem) {
  .w-storages-list {
    margin: 1rem 2rem;
  }

  .w-storages-list-pagination {
    margin-top: 1rem;
  }
}
