.w-goods-storage-card-container {
  background-color: #FFFFFF;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0.5px solid #DCDCDC;
  padding: 1rem
}

.w-goods-storage-card {
  margin-top: 1rem;
}

.w-goods-storage-card-text {
  margin-bottom: 0.5rem;
  white-space: initial;
}

.w-goods-storage-card-text-bold {
  font-weight: bold;
}

.w-storages-list {
  margin-top: 1rem;
}

.w-storage-chosen {
  background-color: #2C3E50;
  color: #FFFFFF;
}

.w-storage {
  background-color: #FFFFFF;
}

.w-goods-storage-button {
  background-color: #2C3E50;
  margin: 1rem;
}

.w-goods-storage-list-item {
  padding: 0;
  height: 3rem;
}

.w-goods-storage-progress-bar {
  width: 100%;
  height: 50%;
  border-radius: 0;
}
