.w-goods-card-container {
  background-color: #FFFFFF;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0.5px solid #DCDCDC;
  padding: 1rem
}

.w-goods-card {
  margin-top: 1rem;
}

.w-goods-card-text {
  margin-bottom: 0.5rem;
  white-space: initial;
}

.w-goods-card-text-bold {
  font-weight: bold;
}

.w-goods-card-button {
  background-color: #2C3E50;
}
